
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./bg.png");
    background-size: cover;    
}

.heading {
    width: 70vw;
    border: 3px solid rgb(87, 83, 83);
    height: 70px;
    margin: 40px auto;
    border-radius: 30px;
    font-size: 3.5rem;
    text-align: center;
    color: rgb(87, 83, 83);
}

.add_items {
    width: 500px;
    height: 45px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #023047;
    font-weight: 600;
    background: transparent;
    padding-left: 20px;
    margin: 10px auto;
    display: block;
}

#list {
   margin: 20px auto;
   width: 700px;
   padding: 5px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tasks {
    height: 30px;
    width: 400px;
    font-size: 1.2rem;
    margin: 5px;
    background-color:white;
    display: block;
    color: black;
    font-weight: 600;
    opacity: 0.6;
    border-radius: 10px;
    padding-left: 10px;
}

i {
    font-size: large;
    cursor: pointer;

}