* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body { 
    background: url(https://images.unsplash.com/photo-1584559759045-d5062ca44f09?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHdlYXRoZXJ8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

button {
    display: block;
    color: #023e8a;
    font-size: 16px;
    font-weight: 700;
    background-color: #8ecae6;
    border: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(21, 132, 223);
    padding: 2px;
    margin: 1px;
    width: 100%;
}
input[type=text]{
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #184e77;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgba(33, 94, 175, 0.829);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#container {
    text-align: center;
    border: 7px solid rgba(18, 85, 231, 0.452);
    border-radius: 35px;
    width: 30vw;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.459);
}

.info {
    padding: 20px;
}

.title {
    font-size: 2.1rem;
    font-weight: 500;
    color: #184e77;
}

.temp {
    font-size: 50px;
    text-align: center;
    color: #178536;
    font-weight: 700;
}

.t_minmax {
    color: #248277;
    font-weight: 600;
    font-size: large;
}

.loc {
    font-size: 1.5rem;
    font-weight: 600;
    color: #003566;
}

.type {
    font-size: 1.2rem;
    color: #003566;
    font-weight: 600;
}

.others {
    color: rgba(12, 53, 141, 0.849);
    font-weight: 600;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media screen and (max-width:700px) {
    #container {
        width: 60vw;
    }
    .title {
         font-size: 1.8rem;
     }

     .temp {
         font-size: 2rem;
     }
     
     .t_minmax, .date {
         font-size: 12px;
     }

}