* {
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(209, 207, 207);
    background-color: #e5e5e5;
    z-index: 10;
}

li {
    padding: 10px;
    list-style-type: none;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

li:hover{
    background-color: #cfd0f194;   
}

a {
    text-decoration: none;
    color: #005f73;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #003566;
    font-family: 'Style Script', cursive;
    cursor: pointer;
}

footer h2 {
    font-family: 'Style Script', cursive;
    word-spacing: 10px;
    padding: 10px;
    cursor: pointer;
}

main {
    display: flex;
}

#anim1 {
    height: 400px;
    width: 60vw;
    border: 1px solid #ccc;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1547949003-9792a18a2601?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2R1Y3R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");    
}

#anim2 {
    height: 400px;
    width: 60vw;
    border: 1px solid #ccc;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1484704849700-f032a568e944?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZHVjdHN8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}


#anim1:hover {
    animation-name: coverpic1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 7s;
}

#anim2:hover {
    animation-name: coverpic2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 7s;
}

@keyframes coverpic1 {
    0% {
        background-image: url("https://images.unsplash.com/photo-1547949003-9792a18a2601?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2R1Y3R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }

    25% {
        background-image: url("https://images.unsplash.com/photo-1532667449560-72a95c8d381b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHByb2R1Y3R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }

    75% {
        background-image: url("https://images.unsplash.com/photo-1515197304934-f95872d7156f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fHByb2R1Y3R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }

    100% {
        background-image: url("https://images.unsplash.com/photo-1542219550-37153d387c27?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHByb2R1Y3R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }
    
}

@keyframes coverpic2 {
    0% {
        background-image: url("https://images.unsplash.com/photo-1484704849700-f032a568e944?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZHVjdHN8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }

    25% {
        background-image: url("https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cHJvZHVjdHN8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }

    75% {
        background-image: url("https://images.unsplash.com/photo-1580618864180-f6d7d39b8ff6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHByb2R1Y3RzfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }

    100% {
        background-image: url("https://images.unsplash.com/photo-1517142089942-ba376ce32a2e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2R1Y3RzfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }
    
}

#prod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure {
    width: 300px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 3px 4px grey;
    transition: 500ms;   
    transition-property: all;
}

figure:hover{
    transform: scale(1.1);
    cursor: pointer;
}

figure img {
     height: 200px;
     width: 100%;
}

figure button {
    padding: 5px;
    margin: 5px;
    width: 150px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

figure button:hover {
    background: lightslategray;
    color:white;
    cursor: pointer;
}

footer {
    margin-top: 10px;
    height: 100px;
    background-color: #0c4370;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width:650px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    #anim1, #anim2{
        /* margin-top: 300px; */
        width: 500px;
        height: 200px;
    }
   
}