body {
    padding-top: 60px;
}

.logo {
    font-family: 'Style Script' ,cursive;
    font-size: 35px;
    font-weight: 500;
}

h2 {
    color: #1e6091;
}
ul {
    width: 100%;
}

li {
    margin-right: 30px;
    padding: 10px;
    font-size: 1.2rem
}

section {
    border-radius: 12px;
    padding: 30px;
    margin: 20px auto;
    border: 1px solid #ccc;
    width: 90vw;
    height: auto;
    box-shadow: 2px 3px 3px rgb(228, 225, 225);
}

.icons {
    padding: 10px;
    cursor: pointer;

}

.progress {
    margin: 10px;
    height: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

footer {
    height: auto;
    background-color: #b773f7;
    font-family: 'Style Script' ,cursive;
    padding: 10px;
    font-size: 1.3rem;
}